<div class="questions-container">
  <div class="questions-tabs">
    <ul class="nav nav-tabs">
        <li <%= "class=active" if params[:sortby].nil? || params[:sortby] == "most-recent" %>><a href="<%= questions_path %>" data-toggle="tab" data-target="#">most recent</a></li>
        <li <%= "class=active" if params[:sortby] == "highest-voted" %>><a href="<%= questions_path(sortby: "highest-voted") %>" data-toggle="tab" data-target="google.com">highest voted</a></li>
        <li <%= "class=active" if params[:sortby] == "trending" %>><a href="<%= questions_path(sortby: "trending") %>" data-toggle="tab" data-target="#">trending</a></li>
      </ul>
  </div>

  <div class="questions-list container-fluid">
    <% @questions.each do |question| %>
    <div class="row">
      <div class="col-md-1 text-center">
        <p class="stat-number"><%= question.votes.count %> </p>
        <p>votes</p>
      </div>
      <div class="col-md-1 text-center">
        <p class="stat-number"><%= question.answers.count %> </p>
        <p>answers</p>
      </div>
      <div class="col-md-1 text-center">
        <p class="stat-number"><%= 0 %> </p>
        <p>views</p>
      </div>
      <div class="col-md-9">
        <div class="container container-fluid question-container">
          <div class="row">
            <div class="col-md-12 question-title">
              <%= link_to question.title, question_path(question) %>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 text-right">
              asked <%= time_ago_in_words(question.created_at) %> ago by <span class="question-author"><%= question.user.name %></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row"><div class="col-md-12"><hr></div></div>
    <% end %>
  </div>
</div>

