<div class="questions-container">
  <div class="questions-tabs">
    <ul class="nav nav-tabs">
        <li <%= "class=active" if params[:sortby].nil? || params[:sortby] == "most-recent" %>><a href="<%= questions_path %>" data-toggle="tab" data-target="#">most recent</a></li>
        <li <%= "class=active" if params[:sortby] == "highest-voted" %>><a href="<%= questions_path(sortby: "highest-voted") %>" data-toggle="tab" data-target="google.com">highest voted</a></li>
        <li <%= "class=active" if params[:sortby] == "trending" %>><a href="<%= questions_path(sortby: "trending") %>" data-toggle="tab" data-target="#">trending</a></li>
      </ul>
  </div>
</div>

<div class="question-all-container">
  <% @questions.each do |question| %>
  <div class="col-lg-10 row question-stats">
    <div class="col-md-3">
      <div class="col-md-4">
        <div class="stat-number"><%= question.votes.count %></div>
        <div class="stat-type">votes</div>
      </div>
      <div class="col-md-4">
        <div class="stat-number"><%= question.answers.count %></div>
        <div class="stat-type">answers</div>
      </div>
      <div class="col-md-4">
        <div class="stat-number"><%= question.votes.count %></div>
        <div class="stat-type">views</div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="col-lg-12 question-title"><%= link_to question.title, question_path(question) %></div>
      <div class="question-demo">asked <%= time_ago_in_words(question.created_at) %> ago <span class="question-author"><%= question.user.name %></span></div>
    </div>
  </div>
  <% end %>
</div>
