<div class="question-all">
  <% @questions.each do |question| %>
  <div class="col-lg-10 row question-stats">
    <div class="col-md-3">
      <div class="col-md-4">
        <div class="stat-number"><%= question.votes.count %></div>
        <div class="stat-type">votes</div>
      </div>
      <div class="col-md-4">
        <div class="stat-number"><%= question.answers.count %></div>
        <div class="stat-type">answers</div>
      </div>
      <div class="col-md-4">
        <div class="stat-number"><%= question.votes.count %></div>
        <div class="stat-type">views</div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="col-lg-12 question-title"><%= link_to question.title, question_path(question) %></div>
      <div class="question-demo">asked <%= time_ago_in_words(question.created_at) %> ago <span class="question-author"><%= question.user.name %></span></div>
    </div>
  </div>
  <% end %>
</div>

<%= button_to "Add Question", new_question_path, method: "get", class: "btn btn-info" if session[:user_id] %>

<%= link_to "most recent |", controller: "questions", query: "most recent" %>

<%= link_to "most voted |", controller: "questions", query: "most points" %>

<%= link_to "trending", controller: "questions", query: "trending" %>

<% @questions.each do |question| %>
<h3><%= link_to question.title, question_path(question) %></h3>
<% end %>

