<div class="new-question-container">
  <%= form_for @question do |f| %>
    <div class="form-group">
      <%= f.label "Title:" %>
      <%= f.text_field :title, class: "form-control" %><br>
    </div>

    <div class="form-group">
      <%= f.label "Content:" %>
      <%= f.text_area :content, class: "form-control question-text-area" %><br>
    </div>
    <%= f.submit "Create Question", class: "btn btn-default" %>
  <% end %>
</div>
