<div class="question-show-container align-center">
  <div class="question-container container-fluid">
    <div class="row">
      <div class="col-md-12"><h2><%= @question.title %></h2></div>
    </div>
    <div class="row">
      <div class="col-md-1">
        <div class="row">
          <div class="col-md-12">
            <%= link_to "#" do %>
              <i class="fa fa-chevron-up fa-2x"></i>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <span class="question-points"><%= @question.points %></span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <%= link_to "#" do %>
              <i class="fa fa-chevron-down fa-2x"></i>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-11">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="question-content well well-lg"><%= @question.content %></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-right">
              <div class="question-author">asked by <%= @question.user.name %></div>
            </div>
          </div>
          <% @question.comments.each do |comment| %>
          <div class="row">
            <div class="col-md-12">
              <%= render partial: "comments/comment", locals: { comment: comment } %>
            </div>
          </div>
          <% end %>

          <% if current_user %>
          <div class="row">
            <div class="col-md-12">
              <%= render partial: "comments/form", locals: { commentable_type: "Question", commentable_id: @question.id } %>
            </div>
          </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>

  <div class="answers-container container-fluid">
    <div class="row">
      <div class="col-md-12"><h4>Answers</h4></div>
    </div>
    <div class="row">
      <div class="col-md-12"><hr></div>
    </div>

  <% @question.answers.each do |answer| %>

    <div class="row">
      <div class="col-md-1">
        <div class="row">
          <div class="col-md-12">
            <%= link_to "#" do %>
              <i class="fa fa-chevron-up fa-2x"></i>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <span class="answer-points">0</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <%= link_to "#" do %>
              <i class="fa fa-chevron-down fa-2x"></i>
            <% end %>
          </div>
        </div>
      </div>
      <!-- Display happy cat if this answer has been declared the best. -->
      <% if @question.best_answer == answer.id %>
        <%= image_tag "happycat", class: "happycat" %>
      <% end %>
      <div class="col-md-11">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="answer-content well well-lg"><%= answer.content %></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-right">
              <div class="answer-author">asked by <%= answer.user.name %></div>
            </div>
          </div>

       <!--    If the current user is the same user who posted the question, allow to mark as best -->
          <% if current_user == @question.user %>
            <%= render partial: "answers/mark_as_best_form", locals: { answer: answer} %>
          <% end %>

          <% answer.comments.each do |comment| %>
          <div class="row">
            <div class="col-md-12">
              <%= render partial: "comments/comment", locals: { comment: comment } %>
            </div>
          </div>
          <% end %>

          <% if current_user %>
          <div class="row">
            <div class="col-md-12">
              <%= render partial: "comments/form", locals: { commentable_type: "Answer", commentable_id: answer.id } %>
            </div>
          </div>
          <% end %>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12"><hr></div>
    </div>
  <% end %>
  </div>

  <% if current_user %>
    <%= render partial: 'answers/form' %>
  <% end %>

</div>
