<div class="question-container">
  <h2><%= @question.title %></h2>
  <div class="question-content"><%= @question.content %></div>
  <div class="question-author"><%= @question.user.name %></div>
  <p>Points: <span class="question-points"><%= @question.points %></span></p>
  <%= render "/vote_buttons" %>
</div>

<div class="answers-container">
  <div class="answers-header">
    <h3>Answers</h3>
    <hr>
  </div>

<% @question.answers.each do |answer| %>
  <div class="answer-container">
    <div class="answer-content"><%= answer.content %></div>
    <div class="answer-author">answer by: <%= answer.user.name %></div>
  </div>
    <p>Points: <span class="answer-points"><%= @answer.points %></span></p>
    <%= render "/vote_buttons" %>
  <hr>
<% end %>
</div>

<div class="new-answer-container">
  <% p "flash[:error] = #{flash[:error]}" %>
  <% if flash[:error] %>
    <div class="new-answer-flash-container"><%= flash[:error] %></div>
  <% end %>
  <%= form_for @answer, url: question_answers_path(@question) do |f| %>
    <%= f.label "Your Answer" %><br>
    <%= f.text_area :content %><br>
    <%= f.submit "Post Your Answer" %>
  <% end %>
</div>
