<div class='container'>
  <div class='form'>
    <h1>Login</h1>
    <%= form_for :session, url: session_path do |f| %>
      <div class='field'>
        <%= f.label :username %>
        <%= f.text_field :name %>
      </div>
      <div class='field'>
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>
      <div class='submit'>
        <%= f.submit 'log in' %>
      </div>
    <% end %>
  </div>
</div>