<!DOCTYPE html>
<html>
<head>
  <title>DevilteaOverflow</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%= link_to "Add Question", new_question_path if session[:user_id] %>
  </header>
  <div>
    <%= yield %>
  </div>
</body>
</html>
